<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Lista de Segmentações de Contatos</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div th:include="menu"></div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Lista de Segmentações de Contatos</h4>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-sm table-striped table-hover">
                    <thead>
                        <tr>
                            <th class="col-md-1">ID</th>
                            <th class="col-md-8">Descrição</th>
                            <th class="col-md-3"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="segmentation : ${segmentations}">
                            <td th:text="${segmentation.id}"></td>
                            <td th:text="${segmentation.description}"></td>
                            <td>
                                <div class="btn-group pull-right">
                                    <a class="btn btn-sm btn-primary" th:href="@{/segmentation/edit/{id}(id=${segmentation.id})}" >Editar</a>
                                    <a class="delete btn btn-sm btn-danger" th:href="@{/segmentation/delete/{id}(id=${segmentation.id})}">Excluir</a>
                                    <a class="delete btn btn-sm btn-success" th:href="@{/segmentation/view/{id}(id=${segmentation.id})}">Visualizar</a>
                               </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel-footer">
            <a class="btn btn-sm btn-success" th:href="@{/segmentation/search/}" >Adicionar</a>
        </div>
    </div>
</body>
</html>