<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Visualização da Segmentação de Contatos</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/segmentation.js"></script>
</head>
<body>
    <div th:object="${segmentation}" class="panel panel-default">
        <div class="panel-heading ">
            <h4 th:text="${'Descrição: ' + segmentation.description}"></h4>
        </div>
        <div class="panel-body">
        
            <div class="table-responsive">
                <table class="table table-sm table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Combinador</th>
                            <th>Atributo</th>
                            <th>Regra</th>
                            <th>Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="params : *{searchParams}">
                            <td th:text="${params.groupCombinator}"></td>
                            <td th:text="${params.contactAttribute}"></td>
                            <td th:text="${params.comparisonRule}"></td>
                            <td th:text="${params.value}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <h4>Lista de Contatos</h4>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-sm table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>Idade</th>
                            <th>Estado</th>
                            <th>Cargo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="contact : ${contacts}">
                            <td th:text="${contact.id}"></td>
                            <td th:text="${contact.name}"></td>
                            <td th:text="${contact.email}"></td>
                            <td th:text="${contact.age}"></td>
                            <td th:text="${contact.state}"></td>
                            <td th:text="${contact.role}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>    

<script>

var isActive = true;

$().ready(function () {
    pollServer();
});

function pollServer()
{
    if (isActive)
    {
        window.setTimeout(function () {
            $.ajax({
                url: "/contact/listen",
                success: function (result) {
                    //SUCCESS LOGIC
                    alert('RESULT: ' + result);
                    pollServer();
                },
                error: function () {
                    //ERROR HANDLING
                    pollServer();
                }});
        }, 2500);
    }
}


</script>
    
</body>
</html>