<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

  <body>
  
    <div th:fragment="menu">
	    <div class="navbar navbar-default navbar-static-top">
	      <div class="container">
	        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	        </button>
	        <a class="navbar-brand" href="/">Desafio</a>
	        <div class="navbar-collapse collapse navbar-responsive-collapse">
	          <ul class="nav navbar-nav">
	            <li><a href="/contact/">Contatos</a></li>
	            <li><a href="/segmentation/">Segmentação</a></li>
	          </ul>
	        </div>
	      </div>
	    </div>
    </div>
  
  </body>
  
</html>
